#planning{
    margin-top: 263px;
}
.planning{
    width: 100%;
    &__top{
        @include display($direction:row, $items:center, $justify:space-between);
        gap: 24px;
    }
    &__info{
        &--title{
            @include textStyle($fs:32px, $fw:700, $lh:32px, $clr:#000000)
        }
        &--text{
            margin-top: 16px;
            @include textStyle($fs:16px, $fw:400, $lh:16px, $clr:$secondary-color)
        }
    }
    &__button{
        max-width: 150px;
        width: 100%;
        padding: 11.5px 16px;
        @include textStyle($fs:14px, $fw:400, $lh:14px, $clr:$secondary-color);
        background-color: transparent;
        border: 1px solid $third-color;
        border-radius: 4px;
        transition: all .3s linear;
        cursor: pointer;
        &:hover{
            background-color: $third-color;
            color: $primary-color;
        }
    }
    &__places{
        width: 100%;
        margin-top: 40px;
        @include display($direction:row, $items:flex-start, $justify:space-between);
        row-gap: 32px;
        // gap: 32px;
        flex-wrap: wrap; 
    }
}
.place{
    width: 32%;
    padding: 16px;
    @include display($direction:row, $items:center, $justify:flex-start);
    gap: 16px;
    border-radius: 16px;
    box-shadow: 0 4px 16px 0 rgb(17, 34, 17, .05);
    transition: all .3s linear;
    cursor: pointer;
    &:hover{
        box-shadow: 0 4px 16px 0 rgb(17, 34, 17, .1);
        transform: scale(1.02);
    }
    &__img{
        width: 90px;
    }
    &__info{
        &--title{
            @include textStyle($fs:16px, $fw:700, $lh:16px, $clr:$secondary-color)
        }
        &--list{
            margin-top: 8px;
            @include display($direction:row, $items:center, $justify:space-between);
            gap: 21px;
        }
        &--item{
            @include textStyle($fs:14px, $fw:400, $lh:14px,$clr:$secondary-color);
            position: relative;
            &::after{
                content: '•';
                position: absolute;
                right: -11.5px;
                top: 0;
                bottom: 0;
                margin: auto 0;
                font-size: 20px;
            }
        }
        &--item:nth-child(3){
            &::after{
                display: none;
            }
        }
    }
}
.flightStays{
    margin-top: 80px;
    @include display($direction:row, $items:flex-start, $justify:space-between);
    gap: 24px;
    &__item{
        max-width: 604px;
        width: 100%;
        position: relative;
        overflow: hidden;
        & img{
            width: 100%;
            height: auto;
        }
        &:hover{
            & .flightStays__info{
                bottom: 5px;
            }
        }
    }
    &__info{
        padding: 93px 101px 24px;
        @include display($direction:column, $items:center, $justify:center);
        text-align: center;
        position: absolute;
        bottom: -100%;
        left: 0;
        right: 0;
        margin: 0 auto;
        border-radius: 20px;
        background: linear-gradient(rgb(0,0,0, 0) 0%, rgb(0,0,0, .4) 100%);
        &--title{
            margin-bottom: 8px;
            @include textStyle($fs:40px, $fw:700, $lh:40px, $clr:$primary-color);
        }
        &--text{
            margin-bottom: 16px;
            @include textStyle($fs:16px, $fw:400, $lh:16px, $clr:$primary-color);
        }
        &--button{
            @include display($direction:row, $items:center, $justify:center);
            gap: 4px;
            padding: 16px;
            border: 1px solid $third-color;
            outline: none;
            background-color: $third-color;
            border-radius: 4px;
            transition: all .3s ease;
            cursor: pointer;
            color: $secondary-color;
            &:hover{
                border: 1px solid $primary-color;
                background-color: $primary-color;
                color: $secondary-color;
            }
        }
    }
}

@media (max-width:1020px) {
    .place{
        width: 48%;
        margin: 0 auto;
    }
    .flightStays{
        &__info{
            padding: 93px 50px 24px;
        }
    }
}
@media (max-width:768px) {
    #planning{
        margin-top: 300px;
    }
    .place{
        flex-direction: column;
        align-items: center;
        text-align: center;
        align-content: center;
    }
}
    .flightStays{
        &__info{
            padding: 48px 50px 24px;
            &--title{
                font-size: 32px;
                line-height: 32px;
            }
            &--text{
                font-size: 14px;
                line-height: 14px;
            }
            &--button{
                padding: 12px ;
            }
        }
    }

@media (max-width:630px) {
    #planning{
        margin-top: 350px;
    }
    .flightStays{
        flex-direction: column;
    }
}
@media (max-width:576px) {
    #planning{
        margin-top: 400px;
    }
    .planning{
        &__top{
            flex-direction: column;
            text-align: center;
        }
        &__button{
            margin-left:auto;
        }
        &__places{
            flex-direction: column;
        }
    }
    .place{
        padding: 0px;
        width: 100%;
        flex-direction: row;
        align-self: flex-start;
        justify-content: space-around;
    }
}